@import "includes/normalize.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --container: 1280px;

  --black: #363636;
  --blue: #2980B9;
  --blue-opacity: rgba(203, 234, 255, 0.88);
  --white: #FFF;
  --white-opacity: rgba(255, 255, 255, 0.88);
  --border: #E0E0E0;
}

body {
  margin: 0;
  font-size: 16px;
  /* line-height: Line-height(24)/font-size(16)=1.5 */
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: calc(var(--container) + 30px);
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.header{
  padding: 24px 0;
  box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.10);
  background: var(--white);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;

  img{
    max-width: 134px;
    margin-left: 15px;
  }

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu{
    position: relative;
  }

  &__menu__head{
    cursor: pointer;
    svg{
      fill: var(--black);
      transition: all .3s ease;

      &:hover{
        fill: var(--blue);
      }
    }
  }
  &__menu__head_active{
    svg{
      fill: var(--blue);
      transform: rotateY(180deg);
    }
  }

  &__menu__body{
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease;
    background: var(--white);
    padding: 24px 0 30px;
    box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.10);
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 15;
    visibility: hidden;

    img{
      margin-bottom: 84px;
      margin-left: 0;
    }

    &_pages{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 84px;

      li{
        margin-bottom: 25px;
        &:last-child{
          margin-bottom: 0;
        }
      }

      a{
        font-size: 15px;
        font-weight: 500;
        color: var(--black);
        transition: all 0.3s ease;

        &:hover{
          color: var(--blue);
        }
      }
      .page__active{
        color: var(--blue);
      }
    }

    .header__soc{
      fill: var(--black);
      transition: all .3s ease;
      margin-bottom: 50px;
      cursor: pointer;

      &:hover{
        fill: var(--blue);
      }
    }
    .header__close{
      stroke: var(--black);
      transition: all .3s ease;
      cursor: pointer;

      &:hover{
        stroke: var(--blue);
        transform: rotateZ(180deg);
      }
    }
  }
  &__menu__body_active{
    opacity: 1;
    max-height: 600px;
    visibility: visible;
  }

  &__languages__head{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
      svg{
        fill: var(--blue);
      }
    }

    p{
      font-size: 15px;
      font-weight: 500;
      color: var(--black);
    }

    svg{
      fill: var(--black);
      margin-left: 10px;
      transition: all .3s ease;
    }
  }
  &__languages__head_active{
    svg{
      fill: var(--blue);
      transform: rotateX(180deg);
    }
  }

  &__languages__body{
    display: none;
    padding-top: 5px;
    p{
      font-size: 15px;
      font-weight: 500;
      color: var(--black);
      transition: all .3s ease;
      &:hover{
        color: var(--blue);
      }
    }
  }

  &__links{
    display: none;
    justify-content: center;
    gap: 76px;

    a{
      font-size: 15px;
      font-weight: 500;
      color: var(--black);
      transition: all .3s ease;

      &:hover{
        color: var(--blue);
      }
    }
    .page__active{
      color: var(--blue);
    }
  }

  @media screen and (min-width: 768px) {
    &{
      img{
        max-width: 170px;
      }
    }
  }
  @media screen and (min-width: 1280px) {
    &__inner{
      justify-content: start;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--border);
      margin-bottom: 11px;
    }
    &__menu{
      display: none;
    }
    &__logo{
      margin: 0 auto;
      img{
        margin-left: 0;
      }
    }
    &__links{
      display: flex;
    }
  }
}

.banner{
  padding-bottom: 30px;
  overflow: hidden;

  // &__page{
  //   background: url(../img/banner-bgd-ocean.jpg) no-repeat;
  //   background-size: contain;
  //   object-fit: contain;
  // }

  &__bgd{
    position: fixed;
    z-index: 1;
    left: -50px;
    top: 30px;

    img{
      width: calc(100% + 120px);
    }
  }
  &__bgd_none{
    display: none;
  }
  &__bgd_page{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    img{
      object-fit: cover;
    }
  }


  &__info{
    padding-top: 530px;
    position: relative;
    z-index: 5;
  }
  &__info_page{
    padding-top: 210px;
  }

  &__info__txt{
    border-radius: 10px;
    box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.10);
    background: var(--blue-opacity);
    padding: 20px 24px 35px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }

    h1{
      font-size: 20px;
      font-weight: 600;
      color: var(--blue);
      margin-bottom: 15px;
    }
    h2{
      font-size: 20px;
      font-weight: 600;
      color: var(--blue);
      margin-bottom: 15px;
    }

    p{
      font-size: 15px;
      color: var(--black);
      margin-bottom: 15px;

      &:last-child{
        margin-bottom: 0;
      }
    }
    .info__txt_black{
      font-size: 16px;
      font-weight: 600;
      color: var(--black);
    }
    span{
      color: var(--blue);
      font-weight: 600;
    }
  }
  &__info__txt_white{
    background: var(--white-opacity);
  }

  @media screen and (min-width: 768px) {
    &__info__txt{
      padding: 20px 40px 35px;
      h1{
        font-size: 24px;
      }

      p{
        font-size: 16px;
      }
    }

    &__bgd{
      img{
        // width: calc(100% - 230px);
      }
    }
  }
  @media screen and (min-width: 1280px) {
    &{
      padding-top: 260px;
      padding-bottom: 200px;
    }

    &__inner{
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
    }

    &__bgd{
      left: auto;
      top: auto;
      bottom: 0px;
      object-fit: contain;
      height: calc(100vh - 100px);

      img{
        width: 100%;
        max-width: 588px;
      }
    }

    &__info{
      padding-top: 0;
      width: 100%;
      max-width: 691px;
      margin-left: auto;
    }
  }
}

.footer{
  padding: 30px 0 15px;
  background: var(--white);
  position: relative;
  z-index: 5;

  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__soc{
    margin-bottom: 30px;
    svg{
      fill: var(--black);
      transition: all .3s ease;
    }

    &:hover{
      svg{
        fill: var(--blue);
      }
    }
  }

  &__copyright{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 10px;
      margin-right: 4px;
    }

    p{
      font-size: 10px;
      color: var(--black);
    }
  }

  &__logo{
    max-width: 170px;
    display: none;
  }

  &__links{
    display: none;
    gap: 76px;

    a{
      font-size: 15px;
      font-weight: 500;
      color: var(--black);
      transition: all .3s ease;

      &:hover{
        color: var(--blue);
      }
    }
    .page__active{
      color: var(--blue);
    }
  }

  @media screen and (min-width: 1280px) {
    &{
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 20px 0 15px;
    }

    &__inner{
      justify-content: space-between;
    }

    &__soc{
      margin-bottom: 0;
    }

    &__logo{
      display: block;
    }
    &__links{
      display: flex;
    }
  }
}